# Virtual environment
.venv/

# Package build artifacts
*.egg-info/
dist/
build/

# Python cache
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS noise
.DS_Store
Thumbs.db
